<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>7号楼燃气已登记业主信息</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h2>7号楼燃气已登记业主信息</h2>

    <table>
        <tr>
            <td>姓名</td>
            <td>电话</td>
            <td>门牌</td>
        </tr>
        <% for(var i=0; i<rooms.length; i++) {%>
            <tr>

                <td>
                    <%= rooms[i].name %>
                </td>
                <td>
                    <%= rooms[i].mobile %>
                </td>
                <td>
                    <%= rooms[i].building_no %>-
                        <%= rooms[i].department_no %>-
                            <%= rooms[i].floor_no %>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>